.companies {
  margin-bottom: 20px;
}
.apply-company-logo {
  display: inline-block;
  width: 50px; /* or the size your logos are */
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}
.company-logo img {
  width: 100%;
  height: auto;
}
.application-form {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}
.apply-form-group {
  margin-bottom: 15px;
}

// input[type="text"],
// input[type="password"],
// input[type="url"],
// input[type="file"] {
//   width: calc(100% - 22px);
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 5px;
//   margin-bottom: 10px;
// }

// input[type="submit"] {
//   background-color: #4CAF50;
//   color: white;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   width: 100%;
// }

// input[type="submit"]:hover {
//   background-color: #45a049;
// }
