body,html {
  height: 100%;
  background-color: white;
}

.slider-container {
  color: rgba(0,0,0,0.3);

}

.container {
  overflow: hidden;
  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: inline-block;
      margin: 0px 0;
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.oxford-icon-svg {
  height: 80px;
  width: 80px;
  filter: saturate(0);
  opacity: 0.6;
}

.stanford-icon-svg {
  height: 80px;
  width: 80px;

}
