<div id="jobs-search-bar">
  <%= form_tag jobs_path, method: :get, class: 'd-flex' do %>
    <%= text_field_tag :query,
        params[:query],
        class: 'form-control',
        placeholder: 'Filter for a job, a company, ... ', style: 'font-style: italic;', id: 'search-jobs' %>
    <%= submit_tag 'Search', id: 'search-button' %>
  <% end %>
  <%= link_to 'Clear search', jobs_path, id: 'clear-search-button' %>
</div>
