<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>All Jobs</h3>
        <% @jobs.each do |job| %>
          <p><%= link_to job.job_title, job_path(job) %>
          for
          <%= job.company.company_name %></p>
        <% end %>
        <div data-controller="new-job-form">
          <button data-action="click->new-job-form#displayForm" data-new-job-form-target="button">Add a Job</button>
          <%= render 'form', job: @job %>
        </div>
    </div>
  </div>
</div>
