<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Ches-ctrl/Cheddar"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fa-regular fa-envelope"></i></a>
  </div>
  <div class="page-links d-flex flex-column align-items-end">
    <div>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> and <i class="fa-solid fa-cloud-rain"></i> at<a href="https://www.lewagon.com/">Le Wagon</a>
    </div>
  </div>
</div>
