
<%# TODO: Import Fonts, Update Background Image, Add Navbar Buttons, Update Links %>
<section id="animated-cta-bar">
    <div class="cta-content">
        <div class="background" id="landing-page-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 d-flex flex-column justify-content-center align-items-center mx-auto" style="height: 650px">
        <div id="punchline" class="d-flex flex-column align-items-center landing-page-container text-center ">
          <h1>Tired of applying to jobs one-by-one?</h1>
          <p></p>
          <%#  Of not knowing when the deadline is? Or putting in your details over and over? %>
          <h2>Apply to jobs in <strong>just one click</strong> with Cheddar</h2>
          <%= link_to "Apply to jobs now", jobs_path, class: "btn-main mt-4 text-center" %>
        </div>
      </div>
    </div>
  </div>
</div>


    </div>
    <ul class="floating-icons">
        <li class="drift drift-1 delay-1"><div class="float float-1"><i <i class="fa-brands fa-aws fa-lg"></i></div></li>
        <li class="drift drift-2 delay-3"><div class="float float-2"><i <i class="fa-brands fa-apple fa-lg"></i></div></li>
        <li class="drift drift-3"><div class="float float-3"><i <i class="fa-brands fa-google fa-lg"></i></div></li>
        <li class="drift drift-4 delay-2"><div class="float float-4"><i <i class="fa-brands fa-amazon fa-lg"></i></div></li>
        <li class="drift drift-5"><div class="float float-5"><i <i class="fa-brands fa-ebay fa-lg"></i></div></li>
        <li class="drift drift-6 delay-2"><div class="float float-6"><i <i class="fa-brands fa-x-twitter fa-lg"></i></div></li>
        <li class="drift drift-7"><div class="float float-7"><i <i class="fa-brands fa-paypal fa-lg"></i></div></li>
        <li class="drift drift-8 delay-5"><div class="float float-8"><i <i class="fa-brands fa-btc fa-2xl"></i></div></li>
        <li class="drift drift-9 delay-5"><div class="float float-9"><i <i class="fa-brands fa-tiktok fa-lg"></i></div></li>
        <li class="drift drift-10 delay-3"><div class="float float-10"><i <i class="fa-brands fa-linkedin fa-sm"></i></div></li>

        <li class="drift drift-5 delay-4"><div class="float float-7"><i <i class="fa-brands fa-youtube fa-lg"></i></div></li>
        <li class="drift drift-2 delay-5"><div class="float float-3"><i <i class="fa-brands fa-shopify"></i></div></li>
        <li class="drift drift-3 delay-1"><div class="float float-9"><i <i class="fa-brands fa-slack"></i></div></li>
        <li class="drift drift-6 delay-5"><div class="float float-1"><i <i class="fa-brands fa-yahoo"></i></div></li>
        <li class="drift drift-9 delay-2"><div class="float float-10"><i <i class="fa-brands fa-playstation"></i></div></li>
    </ul>
</section>
