<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="container rounded">
      <h1 class="text-center">Featured in:</h1>
      <div class="slider">
        <div class="logos">
          <i class="fab fa-js fa-4x"></i>
          <i class="fab fa-linkedin-in fa-4x"></i>
          <i class="fab fa-dribbble fa-4x"></i>
          <i class="fab fa-medium-m fa-4x"></i>
          <i class="fab fa-github fa-4x"></i>
        </div>
        <div class="logos">
          <i class="fab fa-js fa-4x"></i>
          <i class="fab fa-linkedin-in fa-4x"></i>
          <i class="fab fa-dribbble fa-4x"></i>
          <i class="fab fa-medium-m fa-4x"></i>
          <i class="fab fa-github fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
