.btn-apply {
  background-color: $main-color;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 24px;
}

#clear-search-button, #search-button {
  background-color: $main-color;
  opacity: 0.7;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid black;

}

#clear-search-button {
  padding: 6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-add-info, #btn-add-job {
  background-color: $main-color;
  opacity: 0.7;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  padding: 12px 18px;
  margin: 12px;
}
