.navbar-lewagon {
  justify-content: space-between;
  background: $main-color;
  color: white;
  text-decoration: none;
  padding: 0px;

  a {
    color: white;
    text-decoration: none;
    // font-weight: 600;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  padding: 0px;
  // color: white;
}

.avatar {
  margin-left: 5px;
}
